<select name="{{ field.name }}"
        id="{{ field.oid }}"
        {% if field.widget.css_class %}
        class="{{ field.widget.css_class }}"
        {% endif %}
        {% if field.widget.size %}
        size="{{ field.widget.size }}"
        {% endif %}
        {% if field.widget.multiple %}
        multiple
        {% endif %}>
    {% for value, description in field.widget.values %}
        <option
                {% if value|string == cstruct %}
                    selected="selected"
                {% endif %}
                    value="{{ value }}">{{ description }}</option>
    {% endfor %}
</select>
