[submodule "slides/listings-golang"]
	path = slides/listings-golang
	url = https://github.com/julienc91/listings-golang.git
[submodule "examples/pyramid/traversal"]
	path = examples/pyramid/traversal
	url = https://github.com/iitwebdev/lectures_pyramid_traversal_example.git
[submodule "examples/pyramid/restapi"]
	path = examples/pyramid/restapi
	url = https://github.com/iitwebdev/lectures_pyramid_restapi_example.git
[submodule "_lectures"]
	path = _lectures
	url = https://github.com/ustu/lectures
[submodule "sourcecode/6.www.sync/2.codding/0.paste"]
	path = examples/wsgi
    url = https://github.com/iitwebdev/lectures_wsgi_example.git
[submodule "examples/database"]
	path = examples/database
	url = https://github.com/iitwebdev/lectures_database_example.git
