[submodule "slides/listings-golang"]
	path = slides/listings-golang
	url = https://github.com/julienc91/listings-golang.git
[submodule "examples/pyramid/traversal"]
	path = examples/pyramid/traversal
	url = https://github.com/iitwebdev/lectures_pyramid_traversal_example.git
[submodule "examples/pyramid/restapi"]
	path = examples/pyramid/restapi
	url = https://github.com/iitwebdev/lectures_pyramid_restapi_example.git
