 .wrapper
        {
          width: 50%;
          max-width: 600px;
          margin: 0 auto;
          padding: 100px 0 0 0;
          min-width: 550px;
        }
        .blog
        {
          position: relative;
        }
          .blog__title
          {
            font: 1.8em Arial;
          }
            .blog__title-link
            {
              color: blue;
            }
            .blog__title-link:hover
            {
              color: red;
            }
            .blog__title-text
            {
              color: #000;
              position: relative;
              display: inline-block;
              padding: 0 0 0 0.9em;
            }
            .blog__title-text:after
            {
              display: block;
              content: ">";
              position: absolute;
              left: 0;
              top: 0;
            }
          .blog__button
          {
            font: 1.1em Arial;
            display: inline-block;
            background: green;
            color: #fff;
            padding: 0.3em 0.5em;
            text-decoration: none;
            position: absolute;
            right: 3.5%;
            top: 0;
          }
          .blog__button:hover
          {
            background: darkgreen;
          }
          .blog-list
          {
            padding: 1em 0 0 0;
            border-top: solid 1px #ccc;
            margin: 1em 0 0 0;
          }
            .blog-list__item
            {
              padding: 0.5em 1em;
            }
            .blog-list__item:hover
            {
              background: #efefef;
            }
              .blog-list__item-id
              {
                width: 5%;
                font: 0.9em Arial;
                display: inline-block;
              }
              .blog-list__item-link
              {
                width: 65%;
                font: 0.9em Arial;
                display: inline-block;
                color: blue;
              }
              .blog-list__item-link:hover
              {
                color: red;
              }
              .blog-list__item-action
              {
                width: 28%;
                display: inline-block;
                text-align: right;
              }
                .blog-list__item-edit
                {
                  font: 0.9em Arial;
                  display: inline-block;
                  background: blue;
                  color: #fff;
                  padding: 0.3em 0.6em;
                  text-decoration: none;
                }
                .blog-list__item-edit:hover
                {
                  background: darkblue;
                }
                .blog-list__item-delete
                {
                  font: 0.9em Arial;
                  display: inline-block;
                  background: red;
                  color: #fff;
                  padding: 0.3em 0.6em;
                  text-decoration: none;
                }
                .blog-list__item-delete:hover
                {
                  background: darkred;
                }
          .blog-item
          {
            padding: 1em 0 0 0;
            border-top: solid 1px #ccc;
            margin: 1em 0 0 0;
          }
            .blog-item__title
            {
               font: 1.8em Arial;
               color: #000;
               padding: 0 0 0.5em 0;
            }
            .blog-item__text
            {
              font: 0.9em Arial;
              color: #000;
            }
          .blog-form
          {
            padding: 1em 0 0 0;
            border-top: solid 1px #ccc;
            margin: 1em 0 0 0;
          }
            .blog-form-field
            {
              padding: 0 0 1em 0;
            }
              .blog-form-field__title
              {
                font: 0.9em Arial;
                color: #000;
                padding: 0 0 0.5em;
              }
              .blog-form-field__input
              {
                width: 100%;
                border: solid 1px #ccc;
                font: 0.9em Arial;
                padding: 0.3em 0.5em;
                box-sizing: border-box;
              }
              .blog-form-field__textarea
              {
                width: 100%;
                border: solid 1px #ccc;
                font: 0.9em Arial;
                padding: 0.3em 0.5em;
                min-height: 200px;
                box-sizing: border-box;
              }
            .blog-form__button
            {
              font: 1.2em Arial;
              display: inline-block;
              background: blue;
              color: #fff;
              padding: 0.3em 0.6em 0.25em 0.6em;
              text-decoration: none;
              border: solid 0px red;
              cursor: pointer;
            }
            .blog-form__button:hover
            {
              background: darkblue;
            }
          .footer
          {
            padding: 3em 0 0 1em;
            font: 0.8em Arial;
          }
