<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <link rel="stylesheet" href="style.css" />
      <title>{% block title %}{% endblock %} - My Blog</title>
      <meta charset='utf-8'>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <br />
    <br />
    <br />
    <div id="footer">
        {% block footer %}
          &copy; Copyright 2015 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
</html>
